@charset "utf-8";
.Title1 {
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    height: 0px;
    text-indent: 20px;
    max-height: 44px;
}
.Link1 {
    background-color: #167BDF;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
    margin-top: 9px;
    text-indent: 20px;
    height: 49px;
}
.Img1 {
    background-color: #F2F2F2;
    margin-top: 3px;
}
.Footer1 {
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #167BDF;
    height: 40px;
    margin-top: -33px;
    text-indent: 20px;
    font-size: large;
}
.Table1 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #167BDF;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
.Img2 {
    margin-top: -5px;

}
.Institu {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    width: 1335px;
    text-align: justify;
    text-indent: 50px;
    font-size: x-large;
    margin-top: 50px;
}
.Institu2 {
    width: 1335px;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
    text-indent: 20px;
    margin-top: 50px;
}
.Institu0 {
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-indent: 50px;
    margin-top: 50px;
}
